*, *::before, *::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  tab-size: 4;
}

nav ol, nav ul {
  list-style: none;
}

img, canvas, iframe, svg, video, object {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}
